<IfModule mod_headers.c>
    <FilesMatch "\.(bin|json)$">
        Header set Cache-Control "public, max-age=2592000, immutable"
        Header set Access-Control-Allow-Origin "*"
    </FilesMatch>
</IfModule>
